{
    "server": {
        "debug": true,
        "accessLog": "/var/log/hipache/access.log",
{% if hipache_listen_address %}
        "address": ["{{ hipache_listen_address }}"],
{% endif %}
{% if ansible_all_ipv6_addresses == [] %}
        "address6": [],
{% elif hipache_listen_address6 %}
        "address6": ["{{ hipache_listen_address6 }}"],
{% endif %}
        "port": {{ hipache_listen_port }},
        "workers": 5,
        "maxSockets": 100,
        "deadBackendTTL": 30,
        "tcpTimeout": 5,
        "retryOnError": 0,
        "deadBackendOn500": true,
        "httpKeepAlive": false
    },
    "redisHost": "{{redis_host}}",
    "redisPort": "{{redis_port}}"
}
